@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

/* เพิ่มสไตล์สำหรับแผนที่ต่อจากสไตล์ที่มีอยู่ */
.info-box {
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}